/***** map *****/
.map {
  margin: 0 0 25px;
  padding-top: 10px;
  line-height: 0;
}
.map iframe {
  border: none;
  width: 100%;
  height: 370px;
}


body {
   

}

h3 {
    background-color:#4CAF50;
   
}

.text{
    color:white;
}

.well{
    background-color:#212121;
}

/*=======================================
  FOOTER SECTION
==================================================*/
.footer-box {
    background-color:#F5F5F5;
    padding:20px 50px 20px 50px;
    
    
}
.small-box {
    font-size:10px;
}

.footer-box a {
    color:#808080;
    text-decoration:none;
}
.footer-box a:hover {
    color:#000;
}
.pad-botom {
    padding-bottom:30px;
}
.footer-box p {
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}
.social-box a{
     color:#333436;
    text-decoration:none;
}

.end-box {
    padding:20px;
     color:#fff;
     background-color:#000;
     font-size:14px;
}

.img-circle{
    margin-left:110px;
    width:123px;
    height:123px;

}

